@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h3><strong>Guide to get the PDF file</strong></h3>

<div>
    <ol style="font-size:16px">
        <li>Right click the page</li>
        <li>Click <strong>print</strong></li>
        <li>Choose <strong>Microsoft Print to PDF</strong> in the Printer</li>
        <li>Clicke <strong>Print</strong></li>
        <li>Save the pdf file wherever you want in your device</li>
    </ol>
</div>