@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    No.999 Zixing Rd<br />
    Shanghai<br />
    <abbr title="Phone">P:</abbr>
    XXX
</address>

<address>
    <strong>Support:</strong>
    <a href="t-xinma@microsoft.com">t-xinma@microsoft.com</a>
    <br />
</address>
