@{
    ViewData["Title"] = "Home Page";
}


<h3 style="font-family:Elephant;color:#0070AC;text-align:center">C# Dynamic Library Link File</h3>
<h3 style="font-family:Elephant;color:#0070AC;text-align:center">Online Parser</h3>

<br />

<form method="post" enctype="multipart/form-data" asp-controller="Sections" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Please upload your file here:</p>
            <!-- <input type="file" name="files" multiple> -->
            <input type="file" name="file">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload">
        </div>
    </div>
</form>

<img src="~/images/Pic.jpg" class="img-responsive" />
